@media (width >= 1024px) {
  .header__title {
    margin-inline-start: calc(-1 * var(--content-padding));
  }  
  
  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__text {
    max-inline-size: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-rows: min-content;
    grid-template-columns: repeat(3, min-content);
  }

  .header__dark_theme_icon {
    right: calc(1em + 10px);
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--section-elements-gap);
  }

  .reasons .content__section_text_wrapper {
    grid-column: span 2;
  }

  .distractions .content__section_title {
    grid-row: 1;
  }

  .distractions .content__section_text_wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--section-elements-gap);
  }

  .tips .content__section_text_wrapper {
    grid-column: span 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery .content__section_subtitle {
    grid-column: span 3;
  }

  .content__section_gallery {
    grid-column: span 3;
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }
  
  .tape {
    grid-row: span 2;
  }
  
  .street {
    grid-column: span 2;
  }
}