:root.theme-light {
  --accent-color: #FF8DCB;
  --logo-color: #FFC2E6;
  --decor-color: #353430;
  --theme-button-hover-color: rgba(50, 49, 45, 0.4);
  --bg-img: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --section-title-color: #353430;
  --card__title-color: #353430;
}

.theme-light .page {
  .header__dark_theme_icon {
    display: none;
  }

}

@media (prefers-color-scheme: light) {
  
  :root {
    --accent-color: #FF8DCB;
    --logo-color: #FFC2E6;
    --decor-color: #353430;
    --theme-button-hover-color: rgba(50, 49, 45, 0.4);
    --bg-img: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --section-title-color: #353430;   
    --card__title-color: #353430;
  }
  
  .header__dark_theme_icon {
    display: none;
  }
}