/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  block-size: 100%;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: space-between;
  height: 100vh;
  min-height: 668px;
  padding: var(--content-padding);
}

.decorations::before {
  content: '';
  position: absolute;
  justify-self: end;
  margin-inline-end: var(--content-padding);
  margin-block-start: var(--content-padding);
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorations::after {
  content: '';
  position: absolute;
  justify-self: start;
  align-self: end;
  margin-inline-start: var(--content-padding);
  margin-block-end: var(--content-padding);
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  block-size: 25px;
  inline-size: 25px;
}

.heading {
  color: var(--logo-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.header__title {
  align-self: start;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  justify-self: end;
  align-self: center;
  max-inline-size: 355px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__dark_theme_icon {
  position: absolute;
  top: var(--content-padding);
  right: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__dark_theme_icon::before {
  content: 'REC';
  color: var(--accent-color);
  line-height: 1.388em;
}

.header__dark_theme_icon::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.title-decor {
  color: var(--card__title-color);
  font-weight: 700;
  background-color: var(--accent-color);
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  justify-content: space-between;
  align-items: center;
  gap: 12.5px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding-inline: 12.5px;
  padding-block: 2.25px;
  color: var(--decor-color);
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  cursor: none;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--theme-button-hover-color);
  cursor: pointer;
}

.content {
  display: grid;
  gap: var(--sections-gap);
  margin-block: var(--main-content-maring-block);
}

.content__section {
  display: grid;
  gap: var(--section-elements-gap);
  padding-inline: var(--content-padding);
}

.content__section_title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: inherit;
}

.content__section_wrapper {
  display: grid;
  gap: var(--section-elements-gap);
}

.card__title {
  margin-block-end: 0.625rem;
  font-size: inherit;
}

.content__section_slogan {
  margin-block-end: 0.625rem;
  font-weight: 400;
}

.content__section_link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.content__section_link:hover {
  border-bottom: 1px solid var(--text-color);
}

.content__section_link:focus {
  outline: none;
}

.content__section_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.no-margin {
  margin-block-end: 0;
}

.gallery {
  --section-elements-gap: var(--gallery-items-gap);
}

.content__section_gallery {
  display: grid;
  gap: var(--gallery-items-gap);
}

.content__section_gallery-item {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  height: 100vh;
  min-height: 668px;
  padding: var(--content-padding);
}

.footer__title {
  justify-self: center;
  align-self: center;
  margin-inline-start: 4px;
  margin-inline-end: 3px;
  text-shadow: 2px 2px 0 var(--accent-color);
}