@media (768px <= width < 1024px) {
  .header__title {
    margin-inline-start: calc(-1 * var(--content-padding));
  }  

  .heading {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__subtitle {
    max-inline-size: 364px;
  }

  .header {
    min-block-size: 1024px;
  }

  .header__icon {
    right: calc(1em + 10px);
  }

  .content__section {
    grid-template-columns: repeat(3, 1fr);
    column-gap: calc(2 * var(--section-elements-gap));
  }

  .reasons .content__section_wrapper {
    grid-column: span 2;
  }

  .distractions .content__section_wrapper {
    grid-column: span 3;
  }

  .tips .content__section_wrapper {
    grid-column: span 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery .card__title {
    grid-column: span 3;
  }

  .content__section_gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 3;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
  }
  
  .tape {
    grid-row: span 2;
  }
  
  .street {
    grid-column: span 2;
  }
}