/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --decor-color: #FF0070;
  --theme-button-hover-color: rgba(255, 0, 112, 0.4);
  --bg-img: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --section-elements-gap: 1.25rem;
  --gallery-items-gap: 0.625rem;
  --content-padding: 10px;
  --main-content-maring-block: 2.5rem;
  --sections-gap: 3.125rem;
  --section-title-color: #000028;
}

@media (768px <= width < 1024px) {
  :root {
    --main-content-maring-block: 3.75rem;
    --sections-gap: 5rem;
    --content-padding: 20px;
    --gallery-items-gap: 1.25rem;
  }
}

@media (width >= 1024px) {
  :root {
    --content-padding: 20px;
    --main-content-maring-block: 3.75rem;
    --sections-gap: 5rem;
    --gallery-items-gap: 1.25rem;
  }
}